html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Layout */
div.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 3rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
  background-color: gray;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

.main-container {
  /* Fit for 800x480 (7 inches) display */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

/* Common */
.animation {
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.speech {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

/* Not yet */

.anime-container {
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
  width: 800px;
  height: 480px;
}

svg {
  /* border: 3px solid black; */
  display: flex;
  margin: 10px auto;
  position: absolute;
  width: 350px;
  height: 350px;
}

pre {
  overflow-x: hidden;
  overflow-y: auto;
}

video {
  width: 100%;
}

.option {
  margin-bottom: 8px;
}

#media {
  max-width: 1280px;
}
