:root {
  --text-color: #f0f4f5;
  --background-color: #2b2b2b;
  --point-color: #ffae00;
  --btn-color: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  -ms-overflow-style: none;
  min-width: 360px;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}

a:hover {
  cursor: pointer;
}

nav {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px 0px;
}

.items {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-emotions {
  overflow: auto;
  margin: 0 auto;
  width: 100%;
}

.btn-emotions li {
  float: left;
  list-style: none;
  width: 11%;
  margin-bottom: 5px;
}

.btn_emotion {
  width: 100%;
  display: block;
}

.btn_emotion:hover {
  background-color: var(--point-color);
  border-radius: 5px;
  font-weight: bolder;
}

.btn-toggle {
  display: none;
  color: var(--text-color);
  text-align: right;
  padding-right: 20px;
}

#mainZone {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}

#imgZone {
  width: 50%;
  min-width: 300px;
  float: left;
}
#_face {
  width: 300px;
  height: 300px;
  overflow: visible;
}
#msgZone {
  width: 50%;
  float: left;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.msgBox {
  width: 90%;
  height: max-content;
  max-height: 50%;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: bolder;
  font-size: 25px;
  padding: 40px;
  overflow: auto;
}

.msgBox::-webkit-scrollbar {
  display: none;
}

/* #msgBox, */
#msgBox {
  background-color: var(--background-color);
}
#stateWait {
  display: none;
  background-color: #41a201;
}
#stateListen {
  display: none;
  background-color: #0059ff;
}

/*    system state infomation animation   */
.msgBox table {
  margin: 0 auto;
}
.msgBox table tr:first-child td {
  height: 20px;
  padding-left: 8px;
}
.msgBox i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--point-color);
  float: left;
}
.msgBox tr td:first-child i {
  animation: _stateAni 3s infinite;
}
.msgBox tr td:nth-child(2) i {
  animation: _stateAni 3s infinite;
  animation-delay: 0.5s;
}
.msgBox tr td:last-child i {
  animation: _stateAni 3s infinite;
  animation-delay: 1s;
}
@keyframes _stateAni {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*    loading animation   */
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 10000;
  padding-top: 20%;
}
.loading svg {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.loading_bar {
  transform-origin: center;
  transform-box: fill-box;
  animation: _rotate 2s infinite;
}
@keyframes _rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.btns_font {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

.btns_font li {
  list-style-type: none;
  float: left;
}

.btn_font {
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 80px;
  font-weight: bolder;
  background-color: var(--btn-color);
  color: var(--point-color);
  display: block;
  line-height: 35px;
  border-radius: 5px;
}

.clicked {
  background-color: var(--point-color);
  color: var(--btn-color);
  /* background-color: #db0000; */
  /* color: #fff; */
}

#_bubble {
  position: absolute;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #mainZone {
    flex-direction: column;
  }

  #_face {
    max-width: 100%;
    max-height: 100%;
  }

  .btn-emotions,
  .btn-pages {
    display: none;
  }

  .items {
    width: 100%;
    height: max-content;
    padding: 20px;
    align-items: center;
  }

  #imgZone,
  #msgZone {
    width: 100%;
  }

  .msgBox {
    padding: 10px;
    font-size: 20pt;
  }

  .btn-toggle {
    display: block;
  }

  .btn-emotions li {
    width: 33.3%;
  }

  .btn-emotions.active,
  .btn-pages.active {
    display: block;
  }

  .btns_font {
    float: right;
    position: inherit;
  }

  .btn_font {
    margin: 5px;
  }
}

.status {
  height: 10px;
  display: block;
  background-color: gray;
}

/* Light Control */

#btn-lights {
  overflow: auto;
  margin: auto;
  width: max-content;
  margin-bottom: 10px;
}

#btn-lights li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

.btn-light {
  width: 80px;
  height: 30px;
}

.btn-light:hover {
  cursor: pointer;
}
