# Ignore the node_modules directory
node_modules/

# The file containing environment variables 
.env

# Ignore Python venv directory
venv/

# temp files
*.wav
!server-sent-demo.wav
*.mp4
*.webm
*.mp3

# Ignore IDE specific files
.vscode/
