<div class="loading">
  <svg
    width="297"
    height="297"
    viewBox="0 0 297 297"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      class="loading_bar"
      d="M297 148.5C297 116.319 286.546 85.0097 267.213 59.2841C247.88 33.5585 220.712 14.8093 189.802 5.8591C158.891 -3.09113 125.909 -1.75805 95.8212 9.65767C65.7335 21.0734 40.1682 41.9539 22.974 69.1559C5.77985 96.3579 -2.11275 128.409 0.484411 160.485C3.08157 192.56 16.0279 222.924 37.3745 247.006C58.7211 271.087 87.3127 287.583 118.845 294.009C150.377 300.435 183.144 296.445 212.212 282.638L195.727 247.931C174.18 258.165 149.892 261.123 126.518 256.359C103.145 251.596 81.9509 239.368 66.1276 221.518C50.3043 203.667 40.7078 181.16 38.7826 157.384C36.8574 133.608 42.7079 109.849 55.4532 89.6857C68.1985 69.5221 87.1488 54.0443 109.452 45.5823C131.754 37.1204 156.202 36.1322 179.115 42.7666C202.028 49.401 222.166 63.2989 236.497 82.3682C250.828 101.437 258.576 124.646 258.576 148.5H297Z"
      fill="#9c9c9c"
    />
  </svg>
  <p>Loading...</p>
  <p>잠시만 기다려주세요</p>
</div>

<script>
  const loading = document.querySelector(".loading");
  function loading_out() {
    loading.setAttribute("style", "display:none");
  }
  window.onload = loading_out();
</script>
