:root {
  --text-color: #f0f4f5;
  --background-color: #2b2b2b;
  --point-color: #ffae00;
  --btn-color: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  -ms-overflow-style: none;
  min-width: 360px;
  margin: auto;
}
::-webkit-scrollbar {
  display: none;
}

a:hover {
  cursor: pointer;
}

nav {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 5px auto;
}

div#settings {
  height: 100px;
  width: 100px;
  position: absolute;
}

.items {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-emotions,
.btn-lights {
  overflow: auto;
  margin: 0 auto;
  width: 100%;
}

.btn-emotions li,
.btn-lights li {
  float: left;
  list-style: none;
  width: 11%;
  height: 40px;
  line-height: 40px;
}

.btn_emotion,
.btn-light {
  width: 100%;
  display: block;
}

.btn_emotion:hover,
.btn-light:hover {
  background-color: var(--point-color);
  font-weight: bolder;
}

.inp-light {
  width: 50px;
  height: 30px;
}

#mainZone {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}

#imgZone {
  width: 50%;
  min-width: 300px;
  float: left;
}
#_face {
  width: 300px;
  height: 300px;
  overflow: visible;
}
#msgZone {
  width: 50%;
  float: left;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.msgBox {
  width: 90%;
  height: max-content;
  max-height: 50%;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: bolder;
  font-size: 25px;
  padding: 40px;
  overflow: auto;
}

.msgBox::-webkit-scrollbar {
  display: none;
}

.msgBox {
  background-color: var(--background-color);
}
.stateWait {
  background-color: #41a201;
}
.stateListen {
  background-color: #0059ff;
}

/*    system state infomation animation   */
.option_listen,
.option_wait {
  display: none;
}

.msgBox table {
  margin: 0 auto;
}
.msgBox table tr:first-child td {
  height: 20px;
  padding-left: 8px;
}
.msgBox i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--point-color);
  float: left;
}
.msgBox tr td:first-child i {
  animation: _stateAni 3s infinite;
}
.msgBox tr td:nth-child(2) i {
  animation: _stateAni 3s infinite;
  animation-delay: 0.5s;
}
.msgBox tr td:last-child i {
  animation: _stateAni 3s infinite;
  animation-delay: 1s;
}
@keyframes _stateAni {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/*    loading animation   */
.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 10000;
  padding-top: 20%;
}
.loading svg {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.loading_bar {
  transform-origin: center;
  transform-box: fill-box;
  animation: _rotate 2s infinite;
}
@keyframes _rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.btns_font {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999;
}

.btns_font li {
  list-style-type: none;
  float: left;
}

.btn_font {
  margin: 10px;
  padding: 5px;
  width: 80px;
  height: 80px;
  font-weight: bolder;
  background-color: var(--btn-color);
  color: var(--point-color);
  display: block;
  line-height: 35px;
  border-radius: 5px;
}

.clicked {
  background-color: var(--point-color);
  color: var(--btn-color);
}

#_bubble {
  position: absolute;
}

.status {
  height: 10px;
  display: block;
}

.flex-container {
  display: flex;
}

.flex-col {
  border: solid 1px black;
}

.small_btn {
  display: none;
}

@media screen and (max-width: 767px), (orientation: portrait) {
  #mainZone {
    flex-direction: column;
  }

  #_face {
    max-width: 100%;
    max-height: 100%;
  }

  .items {
    width: 100%;
    height: max-content;
    padding: 20px;
    align-items: center;
  }

  #imgZone,
  #msgZone {
    width: 100%;
  }

  .msgBox {
    padding: 10px;
    font-size: 20pt;
  }

  .btn-toggle {
    display: block;
  }

  .btn-emotions li,
  .btn-lights li {
    width: 33.3%;
  }

  .btns_font {
    float: right;
    position: inherit;
  }

  .btn_font {
    margin: 5px;
  }
}

@media screen and (max-height: 300px) {
  #_face {
    max-width: 70%;
    max-height: 70%;
  }

  .small_btn {
    display: block;
  }

  .btns_font {
    top: 10px;
    right: 10px;
  }

  .btn_font:not(.small_btn) {
    display: none;
  }

  .btn_font {
    margin: 5px;
    width: 60px;
    height: 60px;
    line-height: 50px;
  }
}
